@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&family=Montserrat&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;1,300&family=Noto+Serif:wght@900&family=Quicksand:wght@500&family=REM:wght@500&family=Raleway:ital,wght@0,300;1,300;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;1,300&family=Noto+Serif:wght@900&family=Quicksand:wght@300;500&family=REM:wght@500&family=Raleway:ital,wght@0,300;1,300;1,400&display=swap');


/*Tablas*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/*Titulos Contenedores*/
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media (max-width: 768px) {
    body {
        font-size: 12px;
    }
    .container {
        padding: 5px;
    }
}

body {
    font-size: 65%; 
  }

  html {
    zoom: 90%; 
}

.containerPrincipal {
    width: 100%;
    margin-right: 0 auto;
    background-color: #ffffff;
}

/*--------------------------------------------------------------------------------------------------------------------*/

/*----------------------- Cabecera -------------------------------*/

.header {
    display: flex;
    align-items: center;
    background-color: #06213b;
    padding: 10px 20px;
    color: #fff;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 30px; 
}

.logo {
    height: 40px; 
    cursor: pointer;
    filter: brightness(0) invert(1);
}

.btn-header {
    width: 170px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 5px 15px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 20px;
}

.btn-header:hover {
    background-color: #fff;
    color: #00274d;
}

.header-nav {
    flex-grow: 1;
}

.nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    border-radius: 5px;
 
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.nav-menu li a:hover {
    background-color: #fff;
    color: #00274d;
    border-radius: 5px;
}


.content {
    display: none;
}

.content.active {
    display: block; 
}



/*-------------------- Login -------------------------*/

.contendorFlexRowLogin {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    margin-right: 10px;
}

#loginNombre {
    font-size: 18px; 
    font-weight: bold; 
    margin-bottom: 5px; 
    color: #FFFFFF !important;
    margin-bottom: -5px; 
}

#loginCorreo {
    font-size: 12px; 
    color: #FFFFFF !important;;
    margin: 0; 
    text-align: right;
}




/* ---------------- Tabla Contador de Licencias ------------------ */



.titulo {
    padding: 2px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: none;
    background-color: #f8f8f2;
}

.titulo img {
    max-width: 120px;
    margin-right: 5px;
    margin-left: 10px;
}

.titulo h1 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
    font-family: 'Roboto Slab', serif;
    color: black;
    
}


/*----------------------- Cargando -------------------------------*/

.swal2-popup.swal2-noanimation {
    background: rgba(0, 0, 0, 0.8); 
    border-radius: 15px; 
    padding: 15px;
  }
  
  .swal2-custom-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .rotating-container {
    position: relative;
  }
  
  .rotating-image {
    width: 80px; /* Ajusta el tamaño de la imagen */
    height: 80px; /* Ajusta el tamaño de la imagen */
    animation: spin 2s linear infinite;
    margin-bottom: 10px;
  }
  
  .rotating-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid rgba(4, 89, 161, 0.5); /* Borde luminoso */
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(4, 89, 161, 0.7);
    animation: glow 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes glow {
    0%, 100% {
      box-shadow: 0 0 10px rgba(4, 89, 161, 0.7);
    }
    50% {
      box-shadow: 0 0 15px rgba(4, 89, 161, 1);
    }
  }
  

  .loading-message {
    font-size: 18px; /* Ajusta el tamaño del texto */
    color: #fff;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
    animation: fadeIn 1s ease-in-out infinite;
  }
  
  @keyframes fadeIn {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  

/* ----------------------- Containers y Títulos ------------------------------- */
.containerInfo {
    width: 100%;
    margin: 5px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 2px 0px #c9c9c9;
    border: 0.5px solid rgb(193, 193, 193);
    padding-right: 7px;
}

.tituloContainerInfo {
    font-size: 35px;
    border-bottom: 1px solid #000000;
    background-color: #ffffff;
    font-family: "Arsenal SC", sans-serif;
    font-style: normal;
    text-align: left;
    color: #00274d !important;
    font-weight:lighter;
}

.contenedorFlex {
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    gap: 10px;
}

.contenedorFlex2FA {
    display: flex;              
    flex-direction: row;         
    justify-content: space-between; 
    gap: 10px;               
    align-items: flex-start;   
}


.containerTablaLicenciasUso {
    width: 50%;
    margin-right: 10px;
}

/* ----------------------- Sección información Licencias ------------------------------- */


#graficoLicencias {
    height: auto;
    min-width: 800px;
    min-height: 400px;
    padding-right: 50px;
}

#tablaEstadoLicencias th {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    border: 0.5px solid #ccc;
    padding: 8px;
    text-align: center;
    background: radial-gradient(circle, #0071aa, #005d8b);
}

.containerTablaLicenciasUso table {
    width: 100%;
    table-layout: fixed; 
}

.containerTablaLicenciasUso th,
.containerTablaLicenciasUso td {
    white-space: nowrap;
    padding: 7px;
    border: 1px solid #747474;
}

#tablaEstadoLicencias {
    border: 0.5px solid #474747;
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}

#tablaEstadoLicencias th, #tablaEstadoLicencias td {
    white-space: nowrap;
    width: 100px;
}

#tablaEstadoLicencias tbody td:first-child {
    font-family: 'Open Sans', sans-serif;
}

#tablaEstadoLicencias tbody td {
    padding: 8px;
    text-align: center;
    font-size: 15px;
}
  

  /*---------------------------FILTRO---------------------------*/

  .contenedorFlexFiltros {

    display: flex;
    align-items: center !important;
    justify-content: center; 
    gap: 10px;


  }

  .containerFiltros {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.card {
    width: 100%;
}

.card-body {
    padding: 9px;
    border: solid 1px rgb(70, 70, 70);
    border-radius: 5px;
}


.card-title {
    font-size: 1.7rem; 
    margin-bottom: 8px;
    color: #00274d !important;
}

.form-group {
    margin-bottom: 15px;
}

.aplicarFlex {
    display: flex;
    flex-direction: column;
}

.bordeDerecho{
    border-right: 0.5px solid #0459A1;
    padding-right: 10px;
}

.datosEstadisticas {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#grupo1 {
    display: flex;
    flex-wrap: wrap;
}

#grupo1 label {
    font-size: 0.8rem;
    margin: 3px;
    padding: 3px 7px;
    border-radius: 5px;
    background-color: #d3d3d3; 
    color: #000; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#grupo1 input[type="radio"] {
    display: none;
}

#grupo1 input[type="radio"]:checked + label {
    background-color: #0459A1; 
    color: #fff; 
}

.btn-secondary {
    background-color: #6c757d;
    border: 1px solid #6c757d;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

@media (max-width: 768px) {
    #grupo1 {
        justify-content: center;
    }

    #grupo1 label {
        flex: 1 1 100%;
        text-align: center;
        margin: 3px 0;
    }
}

#sincronizarFechaSesionBtn, #sincronizarBtn, #exportBtn {
    border-radius: 6px;
}

/* --------------------- Opciones --------------------------------- */

.rotar {
    animation: girarReverso 1.0s linear infinite;
}

@keyframes girarReverso {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg); 
    }
}



/*----------------------- Tabla Usuarios y Movimientos de licencia -------------------------------*/

/* Selecciona únicamente el input de búsqueda que controla la tabla "tablaUsuarios" */
input[type="search"].form-control.form-control-sm[aria-controls="tablaUsuarios"] {
    width: 295px; /* Ajusta este valor al ancho que desees */
    border: 1px solid #0459A1;
    background-color: rgb(247, 245, 243);
}

.containerFiltros {
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

#tablaUsuarios,
#tablaMovimientosLicencia, .tablas2FA {
    width: 100% !important;
    border: 0.5px solid #474747;
}

#tablaUsuarios th,
#tablaMovimientosLicencia th, .tablas2FA th {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    border: 0.5px solid #ccc;
    padding: 8px;
    text-align: center;
    background: radial-gradient(circle, #0071aa, #005d8b);
}

#tablaUsuarios th {
    font-size: 12px;
}
#tablaUsuarios td,
#tablaMovimientosLicencia td, .tablas2FA td {
    font-size: 12px;
    border: 0.5px solid #ccc;
    padding: 6px;
    text-align: center;
}

#tablaUsuarios tbody tr:nth-child(even),
#tablaMovimientosLicencia tbody tr:nth-child(even), 
.tablas2FA tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.containerTablaUsuarios{
    padding-bottom: 20px;
}


/*----------------------- Sweetalert2 -------------------------------*/

.btn-blue {
    background-color: #0459A1;
    color: #ffffff;
}


/*----------------------- swal2 -------------------------------*/

.swal2-title-custom {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.swal2-html-container-custom {
    text-align: center;
}




/*---------------------------------------- MODULO - 2FA ------------------------------------*/

.containerCargarArchivo {
    border: 2px solid #007ACC;
    border-radius: 8px;
    padding: 10px;
    margin: 10px auto; 
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px; 
    width: 100%; 
}

.tituloCargarArchivo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #007ACC;
    text-align: center;
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #007ACC;
}

.instruccionesArchivo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #333;
    margin-top: 10px; 
    margin-bottom: 0; 
    text-align: justify; 
}




.contenedorInfo2FA {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.contenedorCargarArchivo2FA{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #b3b3b3;
    padding: 20px;
    align-items: center;
    background-color: #eeeeee;
}

.containerArchivo2FA {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid #007ACC;
    border-radius: 8px;
    padding: 20px;
    align-items: center;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  #archivoUsuario2FA {
    display: none;
  } 

  .cargarArchivo {
    padding: 10px 20px;
    background-color: #0459A1; 
    border: 1px solid #0459A1; 
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    border-radius: 5px;
    font-family: "Quicksand", sans-serif;
  }
  
  .cargarArchivo:hover {
    background-color: #033c6b; 
    border: 1px solid #033c6b; 
    color: #ffffff;
  }
  
#nombreArchivo2FA {
    margin-top: 10px;
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
  }





    /* ------------------------------------------------------- CONTENEDOR CON PETAÑAS - 2FA -----------------------------------------*/

/* Contenedor de las pestañas */
.tab-container {
    width: 100%;
    margin: 10px auto;
}

/* Estilos para las pestañas */
.tabs {
    display: flex;
    cursor: pointer;
    background-color: #f7f7f7;
    border-bottom: 2px solid #ccc; */
}

/* Estilos para los botones de las pestañas */
.tab-button {
    flex: 1;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #3498db;
    background: #f0f0f0;
    text-align: center;
    outline: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
    font-size: 17px;
    font-family: "Arsenal SC", sans-serif;
    color: #555;
    box-shadow: none;

}

.tab-button:focus {
    outline: none; /* Elimina el borde de enfoque que aparece al seleccionar */
}

.tab-button:hover {
    background-color: #e0e0e0; /* Suave cambio de color al pasar el mouse */
}

/* Estilo para el botón activo (seleccionado) */
.tab-button.active {
    background-color: #ffffff;
    border: 2px solid #3498db; /* Borde azul que rodea el botón activo */
    border-bottom: none; /* Sin borde inferior para que parezca conectado al contenido */
    border-radius: 4px 4px 0 0; /* Bordes redondeados en la parte superior */
    color: #3498db; /* Cambiar color del texto en la pestaña activa */
}

/* Estilos para el contenido de las pestañas */
.tab-content {
    border: 2px solid #F0F0F0; /* Borde azul conectando con la pestaña activa */
    border-top: none; /* Conexión sin duplicar el borde superior */
    padding: 20px;
    background-color: #F0F0F0;
    border-radius: 0 0 4px 4px; /* Bordes redondeados en la parte inferior */
}

.tab-content-item {
    display: none;
}

.tab-content-item.active {
    display: block;
}




/*Estilos para las tablas y graficos dentro del contenedor*/

.contenedorGraficoTabla {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px; /* Espacio entre el gráfico y la tabla */
    margin-bottom: 20px;
}

.graficos2FA {
    flex: 1; /* El gráfico ocupará el espacio necesario según su contenido */
    max-width: 45%; /* Limita el ancho máximo del gráfico */
}

.tablas2FAContainer {
    flex: 1; /* La tabla ocupará el espacio restante */
}

.tablas2FA {
    width: 100% !important; /* Hace que la tabla ocupe todo el ancho del contenedor */
    margin-left: auto; /* Centra la tabla si hay espacio sobrante */
    margin-right: auto;
    table-layout: auto; 
}


/* Graficos estado 2FA */

/* Establecer el tamaño de los gráficos */
.graficos2FA {
    max-width: 500px; /* Ancho máximo de los gráficos */
    max-height: 500px; /* Alto máximo de los gráficos */
    width: 100%; /* Ajustar el gráfico al 100% del contenedor */
    height: auto; /* Mantener la proporción del gráfico */
    margin-right: 10px;
}



/* Mensaje sobre la valides del archivo */

  .resultadoRevisionArchivo {
    display: none; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    margin-bottom: 10px;
}

.animacion {
    font-size: 80px;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s, transform 0.5s;
}

.animacion.ok {
    color: green;
}

.animacion.error {
    color: red;
}

.animacion.visible {
    opacity: 1;
    transform: scale(1);
}

.mensaje {
    margin-top: 10px;
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.5s;
    font-family: "Quicksand", sans-serif;
}

.mensaje.visible {
    opacity: 1;
}


.contenedorGrid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Define dos columnas de igual tamaño */
    grid-template-rows: auto auto auto; /* Define tres filas de tamaño automático */
    gap: 6px; /* Espacio entre los elementos */
}

.contenedorGrid .actualizacionContenedor:first-child {
    grid-column: 1 / -1; /* Este elemento ocupa toda la fila, de la primera a la segunda columna */
}

.contenedorGrid {
    margin-right: 10px; /* Espacio entre el primer y segundo elemento */
}


.contendorFlexRow{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*/////////////////////////////*/


  .texto-valido {
    color: #007700;
  }
  
  .texto-no-valido {
    color: #ff0000;
  }
  
  .texto-normal {
    color: #000000;
  }

  .btnEjecutar {
    margin-top: 10px !important;
    font-weight: bold !important;
    padding: 10px 20px !important;
    transition: background-color 0.3s ease !important;
    width: 400px !important;
    height: 50px !important;
    font-size: 20px !important;
    margin-bottom: 10px !important;
  }
  
  .btnEjecutar.habilitado {
    background-color: #034388 !important;
    color: #fff !important;
    border: none !important;
    cursor: pointer !important;
    transition: background-color 0.3s;
  }
  
  .btnEjecutar.habilitado:hover {
    background-color: #333333 !important;
    color: #fff !important;
    border: none !important;
    cursor: pointer !important;
  }
  
  .btnEjecutar.deshabilitado {
    background-color: #ccc !important;
    color: #999 !important;
    cursor: not-allowed !important;
  }


  /*////////////////////////////////////////////////////*/

  /* Contenedor de la sección de actualización */
.actualizacionContenedor {
    background-color: #f9f9f9; /* Color de fondo suave */
    border: 1px solid #ddd; /* Borde sutil */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 100%;
}

/* Título de la sección */
.tituloEstadisticas2FA {
    font-size: 1.2rem;
    color: #333; /* Color del texto */
    margin-bottom: 20px; /* Espacio debajo del título */
}

/* Fecha y hora */
.fechaHora {
    font-size: 1.6rem;
    font-weight: bold;
    color: #0459A1; /* Color de la fecha y hora */
}


  /* Footer -  */

/* Asegura que el html y body ocupen el 100% de la altura de la ventana */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Asegura que el contenedor principal ocupe toda la altura disponible */
.page-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* El contenido principal ocupa el espacio restante */
.content {
    flex: 1;
    /* Añadir margen o relleno si es necesario para el contenido */
}

/* Estilos del footer */
.footer {
    background-color: #00BB7E;
    padding: 20px;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    /* El footer se posiciona en el fondo gracias a la estructura de flexbox */
}


/*Buscador de la seccion excluidos*/

/* Estilo para el formulario de búsqueda */
.form-group {
    margin-bottom: 20px;
}

#usuarioSelect {
    width: 100%;
    margin-top: 10px;
}

/* Estilo para los botones */
.button-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.button-group .btn {
    margin-right: 10px;
    width: 150px;
}


